<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<title> Colecciones de datos  </title>
		<script type="text/javascript" src="angular.min.js"></script>

	</head>

	<body ng-app="coleccionesApp">

		<div ng-controller="coleccionesController">

			<ul>
				<li ng-repeat="datoIndividual in datos" ng-click="mostrarDato(datoIndividual)"> {{ datoIndividual }} </li>
			</ul>

			<input type="text" ng-model="nuevoItem">

			<button ng-click="agregar()"> Agregar </button>

			<ul>
				<li ng-repeat="actor in actores" ng-click="mostrarDato(actor.Apellido)"> {{ actor.Nombre }} </li>
			</ul>
		</div>


		<script type="text/javascript">

			/* Inicializamos la aplicacion angular y sus modulos */
			var coleccionDatosApp = angular.module('coleccionesApp', []);

			/* Creamos el controlador */
			coleccionDatosApp.controller('coleccionesController', function($scope) {

				$scope.datos = ['piedra', 'papel', 'tijera'];

				$scope.actores = [
					{Nombre: "Chuck", Apellido: "Norris"},
					{Nombre: "Bruce", Apellido: "Lee"},
					{Nombre: "Pelo", Apellido: "E'Concha"}

				];

				/* Metodo que permite agregar mas datos al array */
				$scope.agregar = function(){

					/* El metodo push permite añadir un nuevo elemento al array */
					$scope.datos.push($scope.nuevoItem);

				}

				/* Metodo para mostrar un dato del array */
				$scope.mostrarDato = function(elemento){

					alert('Elegiste: ' + elemento);
					
				}

			});

			
		</script>

	</body>

</html>